@tailwind base;
@tailwind components;
@tailwind utilities;

.primaryyFont {
  font-family: "Open Sans", sans-serif;
}

.secondaryyFont {
  font-family: "Playfair Display", serif;
}
.accentFont {
  font-family: "Dancing Script", cursive;
}
/* .ant-typography a:active,
.ant-typography a:focus {
  color: red;
}
.custom-menu .ant-menu-item:active,
.custom-menu .ant-menu-item:focus {
  color: blue;
  background-color:purple;
} */
